* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #ffffff;
    color: white;
}

.navbar {
    background-color: #005837;
    padding: 30px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 70px;
    width: auto;
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 15px;
}

.nav-menu a {
    text-decoration: none;
    font-weight: bold;
    background-color: #0b7f45;
    padding: 10px 18px;
    border-radius: 20px;
    color: white;
    display: block;
}

.nav-menu .cta {
    background-color: #ffc72c;
    color: #005837;
}

.delivery-banner {
    background: #008C15;
    padding: 25px;
    text-align: center;
}

.delivery-text p {
    font-weight: bold;
    font-size: 17px;
    max-width: 60%;
    margin: auto;
}

.delivery-logos {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.delivery-logos img {
    height: 110px;
    width: 220px;
    border-radius: 50px;
    object-fit: cover;
}

.info-section {
    display: flex;
    justify-content: center;
    padding: 40px 0;
    background: #FFC600;
    gap: 70px;
}

.info-form {
    width: 350px;
}

.info-form h2 {
    margin-bottom: 20px;
    font-size: 25px;
}

.info-form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}

.pago {
    background: #4c8b5c;
    padding: 15px;
    border-radius: 6px;
}

.pago p {
    font-size: 15px;
}

.info-img img {
    width: 320px;
    border-radius: 8px;
}

footer {
    background-color: #00a84a;
    padding: 20px;
    text-align: center;
}

.footer-columns {
    display: flex;
    justify-content: space-around;
}


@media (max-width: 768px) {
    .navbar {
        padding: 25px 20px 30px;
        flex-direction: column;
        align-items: center;
        gap: 18px;
    }

    .logo {
        height: 85px;
    }

    .nav-menu {
        width: 100%;
        flex-direction: column;
        gap: 14px;
    }

    .nav-menu a {
        width: 100%;
        text-align: center;
        padding: 16px 0;
        font-size: 18px;
        border-radius: 30px;
    }

    .nav-menu .cta {
        font-size: 19px;
    }

    .delivery-text p {
        max-width: 100%;
        font-size: 15px;
    }

    .delivery-logos {
        flex-direction: column;
        align-items: center;
    }

    .delivery-logos img {
        width: 100%;
        max-width: 220px;
        height: auto;
    }

    .info-section {
        flex-direction: column;
        align-items: center;
        padding: 30px 15px;
        gap: 30px;
    }

    .info-form {
        width: 100%;
        max-width: 350px;
    }

    .info-img img {
        width: 100%;
        max-width: 300px;
    }

    .footer-columns {
        flex-direction: column;
        gap: 15px;
    }
}